.prod-categry{
    background-color: #F5F5F5;
}

.category-head{
    margin-top: 48px;
    border-bottom: 1px solid #0000001A;
}

/* .input-group{
  width: 68%;
} */

.search-item{
  border-radius: 300px;
  border-right: 0px !important;
  border: 1px solid #EDEDED;
  background-color: #fff;
}
.search-item:hover{
  background-color: #EDEDED;
  border: 1px solid #EDEDED;
}

.search-item:first-child:active{
  background-color: #37621A;
  border: 1px solid #37621A;
}
  

.search-inpt{
  border-radius: 300px;
  border-left: 0px;
  border: 1px solid #EDEDED;
}

.search-inpt:focus{
  box-shadow: none;
  border: 1px solid #EDEDED;
}
.sidebar-top{
  font-size: 18px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 7px 13px 0px #00000014;

}

.category-sidebar {
  font-size: 18px;
    width: 100%;
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-radius: 20px;
  }
  .category-name{
    font-size: 18px;
  }
  
  .category-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .category-sidebar li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


  
  .category-sidebar li:hover {
    background: linear-gradient(90deg, #FFFFFF 0%, #E8F2E1 100%);
    border-right: 2px solid #37621A;
    border-radius: 20px 0px 0px 20px;

  }


  .category-sidebar li:selected{
    background: linear-gradient(90deg, #FFFFFF 0%, #E8F2E1 100%);
  }

  .category-sidebar li:active {
    background: linear-gradient(90deg, #FFFFFF 0%, #E8F2E1 100%);
    border-right: 2px solid #37621A;
  }


  .category-sidebar li:focus{
    background: linear-gradient(90deg, #FFFFFF 0%, #E8F2E1 100%);
    border-right: 2px solid #37621A;

  }
  
  .category-sidebar .icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-color: #E8F2E1;
    ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .category-sidebar .category-name {
    flex-grow: 1;
  }
  
  .category-sidebar .category-count {
    font-size: 12px;
    color: #888;
  }

  .side-drop-option{
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 7px 13px 0px #00000014;
    width: 100%;
  }

  .sort-btn{
    border: 1px solid #DDDDDD;
    border-radius: 300px;
    background-color: #fff;
    padding: 10px 18px;
    margin-right: 30px;
font-size: 18px;
font-weight: 500;

  }

  .product-card{
    border: 1px solid #DDDDDD;
    background-color: #fff;
    width: 100%;
    border-radius: 30px;
    text-align: center;
  }


  .product-card h3{
    font-family: Josefin Sans;
font-size: 18px;
font-weight: 500;
line-height: 30px;
text-align: left;
color: #000;
margin: 0px 20px;
  }

  .product-card p{
    font-family: Josefin Sans;
font-size: 18px;
font-weight: 500;
line-height: 25px;
text-align: left;

    margin: 7px 18px;
    color: #000;
  }
  .product-price{
  color: #37621A;
  }

  .divide{
    border: 1px solid #DDDDDD;
    margin-bottom: 5px;
    margin-top: 5px; 
  }

  .product-card:hover{
    border: 1px solid #000;
  }

  .toast-btn{
    font-size: 18px;
    color: #000;
  }
   .toast-btn button{
    font-size: 10px;
    margin-left: 10px;
    color: #0000;
   }

  .toast-box{
    border-radius: 300px;
    padding: 0px 9px;
  }

  .toast-box:hover{
    background-color: #E8F2E1;
    border: 1px solid #37621A
  }

  .filter-btn{
    border-radius: 300px;
    background-color: #37621A;
    font-size: 18px;
    padding: 10px 18px;
    border: 1px solid #37621A;
}

.filter-btn:hover{
  background-color: #fff;
  color: #37621A;
  border: 1px solid #37621A;

}

.filter-btn:first-child:active{
  background-color: #37621A;
  border: 1px solid #37621A;
  color: #fff;
 
}

.btn.show{
  background-color: #37621A ;
  border: 1px solid #37621A;
  color: #fff;
 
}


@media (min-width: 320px) and (max-width: 767px){
  .input-group{
    width: 100% !important;
  }

  .toast-box {
    padding: 0px 2px;
}
.category-head{
  margin-bottom: 50px !important;
}

.filter-btn{
  margin-bottom: 10px;
}
  }











