.promotion-frame {
    background-image: url("../../assets/background/Frame10.jpg");
    background-repeat: repeat space;
    background-size: 100%;  
  }

  .promotional-slide-icon{
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 10px;
    font-size: 10px;
    background-size: 21px;
  }

.promotion-frame {
  background-color: #0f2d11;
  color: #fff;
  padding: 50px;
}

.promoimage1 {
  width: 50%;
  position: absolute;
  bottom: -33px;
  left: 30px;
  transform: rotate(-13.7deg);
}
.promoimage3 {
  width: 30%;
  position: absolute;
  bottom: -61px;
  left: 234px;
}

.promoimage2 {
  width: 50%;
  position: absolute;
  bottom: -50px;
  right: -21px;
  transform: rotate(8.71deg);
}

.big-value {
  font-family: Arial;
  font-size: 95px;
  font-weight: 800;
  line-height: 135px;
}

.big-value span {
  color: #f1ca2f;
}

.offer-time{
    font-family: Josefin Sans;
font-size: 28px;
font-weight: 700;
margin-bottom: 33px;
}

.offer-time span{
    color: #96D86A;
}

.promo-disc-banner {
  position: relative;
  background-color: #f1ca2f;
  border-radius: 25px;
}

.disc-banner-sec {
  color: #0f2d11;
  padding: 26px 0px;
}
.disc-banner-cente {
  color: #0f2d11;
  background-color: #fff;
  padding: 26px 0px;
}

.disc-banner-sec h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.disc-banner-sec p {
  font-size: 18px;
  margin: 0;
}

.disc-banner-cente p{
    font-size: 18px;
  margin: 0;
  }

  .promoOffer-btn{
    background: #F1CA2F;
    color: #000000;
    margin-right: 16px;
    border: 1px solid #F1CA2F;
    font-size: 16px;
    font-weight: 600;
  }

  .promoOffer-btn:hover{
    border: 1.09px solid #FF0707;
    background: #F1CA2F;
    color: #000000;
  }

  .Offerbtn-banner, .sonderangebot-banner{
    border: 2.18px solid #000000;
    width: fit-content;
    border-radius: 108px;
    padding: 15px 0px 15px 15px;

  }

  .Offerbtn-banner::before{
    position: absolute;
    content: "Offer";
    color: #000;
    font-size: 20px;
    font-weight: 400;
    top: -14px;
    left: 62px;
    background-color: #fff;
    padding: 0px 5px;
  }

  .sonderangebot-banner::before{
    position: absolute;
    content: "Sonderangebot";
    color: #000;
    font-size: 20px;
    font-weight: 400;
    top: -14px;
    right: 214px;
    background-color: #fff;
    padding: 0px 5px;
  }

  /* .offer-toast-box{
    border-radius: 300px;
    font-size: 18px;
    box-shadow: none;
    border: 1.09px solid #DDDDDD;
    background: #E6E6E6;
    padding: 0px 8px;
  }

  .offer-toast-box:hover{
    background: #37621A;
    color: #E6E6E6;
  } */
  
