.footer-section{
    background-color:  #78BB4A;
    background-image: 
    url('./../../assets/background/Vector3.png'),
    url('./../../assets/background/Vector4.png'); /* Second image */
  background-position: 
    left top, /* Position for the first image */
    right top; /* Position for the second image */
  background-size: 
    auto, /* Size for the first image */
    auto; /* Size for the second image */
  background-repeat: 
    no-repeat, /* Repeat settings for the first image */
    no-repeat; /* Repeat settings for the second image */
}
.bottom-footer{
  width: 100%;
  background-color: #37621a;
  background-image: url('./../../assets/background/Frame1.png');
}
.whatsapp_Banner{
right: 10px;
top: -86px;

}

.whatsapp-icon{
  color: #FFFFFF;
  background-color: #1AB654;
  padding: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.footer-section1{
 padding-top: 50px;
}

.footer_content{

    color: #FFFFFF;
    margin-top: 20px;
}

.footer_logo{
  left: 45%;
  top: -50px;
  padding: 3px;
  background-color: #FFFFFF;
  border-radius: 72px;
  height: 113px;
}

.footer_logo img{
    border-radius: 50%;
width: 89%;
    background-color: #FFFFFF;
    padding: 9px;
    border: 1px dashed #C43821;
    height:100px;
}

.footer_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .footer_icon_link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px; 
    background-color: #37621A;
    border-radius: 50%;
    color: white; 
    margin: 5px; 
    text-decoration: none;
  }
  
.footer_links{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    }
    
    .footer_links a{
        margin: 0 1rem;
        text-decoration: none;
        color: white;
    }
    
    .footer_links a:hover{
        border-bottom: 1px solid ;
    }
    
    .footer_links div{
        width: 1px;
        height: 20px;
        background-color: #FFFFFF;
    }

    .footer-policy {
      display: flex;
      justify-content: space-between;
      padding: 8px 0px;
    }
    
    .footer-policy h6 {
      color: #FFFFFF;
      margin-top: 10px;
    }

    /* @media (min-width: 769px) and (max-width: 991px){


    } */

    @media (max-width: 768px) {
        .footer_content {
          padding: 0 10px;
        }
      
        .footer_links ul {
          flex-direction: column;
        }
      
        .footer_menu {
          margin-bottom: 10px;
        }

        .footer_links div{
            width: 0px;
        }
        .footer_logo {
          left: 42%;
      }
    }
      
      @media (min-width: 320px) and (max-width: 480px){
        .footer_icon {
          flex-direction: column;
        }
        .footer_logo {
          left: 36%;
        }
      
        .nav_icon_link {
          width: 40px;
          height: 40px;
        }
        .footer_links div{
            width: 0px;
        }
        .footer_menu {
          margin-bottom: 2px;
      }
    }