.bottom-border-frame{
  bottom: -5px;
  position: absolute;
}
.header-frame{
  width: 100%
}
.nav_logo {
  width: 120px;
}

.drop-option{
  width: 117%;
}


.head-link {
  color: #727272; 
  font-size: 18px;
  padding: 0px 5px;
  white-space: nowrap;
}

.head-link:hover {
  color: #A36D3B; 
}

.menu-item-header li::after{
  content: '';
  display: block;
  height: 1.5px;
  background: #A36D3B;
  transform: scaleX(0);
  transition: transform .3s;
}
.menu-item-header li:hover:after{
  transform: scaleX(1);
  transition: transform .3s;
}

.head-live-timer {
  border: 1px solid #37621A;
  padding: 10px 12px;
  border-radius: 25px;
  color: #37621A;
  white-space: nowrap;
  background-color: #fff;
  font-weight: 600;
}

.head-live-timer a {
  color: #37621A;
}

.head-live-timer span {
  color: #000;
  padding-right: 2px;
}

.menu-item-header li{
 margin-right: 30px;
}

.custom-btn:hover{
  color: #37621A;
  background-color: #fff;
  border: 1px solid #37621A;
}

.head-live-timer:hover{
  background-color: #37621A;
  color: #fff;
}
.head-live-timer:hover span{
  color: #fff;
}
.login-sec{
  text-align: end;
}


@media (min-width: 992px) and (max-width: 1106px){
  .header-logo {
    margin: 0 80px 0 24px;
}
.head-link{
  font-size: 18px;
  white-space: nowrap;
}

}

@media (min-width: 768px) and (max-width: 991px){
  .header-logo{
    margin-right: 25px;
  
  }
  .menu-item-header li::after{
    width: 100px;
  }
  .toggle-btn{
    margin-left: 25px;
  }
  
  .navbar-collapse {
    margin-bottom: 15px;
  }
  .bg_image{
    height: 279px; 
  }
  .sale_banner{
    width: 100%;
    min-width: 100%;
    padding: 10px 10px 27px 5px;
  }
  .login-sec{
    text-align: left;
  }
  
}

@media (min-width: 320px) and (max-width: 767px) {
  .head-link {
    font-size: 16px;}

  .header-logo{
    margin-right: 10px;
  }
  .toggle-btn{
    margin-left: 10px;
  }
  .navbar-collapse {
    margin: 15px;
  }
  .custom-btn{
    margin: 15px 0px;
  }
  .whatsapp_Banner {
    bottom: 11%;
    position: fixed;
    right: 5px;
    z-index: 9999;
  }
  .header-nav{
    padding: 10px 5px;
  } 
  .menu-item-header li::after{
    width: 100px;
  }
  .login-sec{
    text-align: left;
  }
}
