/* Hide dropdown menu by default */
.header-drop-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show dropdown menu when hovering over the dropdown */
.nav-item.dropdown:hover .header-drop-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* Adjust the hover style for small screens */
@media (max-width: 768px) {
  .nav-item.dropdown:hover .header-drop-menu {
    display: none;
  }
}


.drop-option{
  width: 210px;
  text-align: center;
  border-bottom: 1px solid #ededed;
}

.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem 2rem;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-logo img {
  width: 120px;
  z-index: 1;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 0px;
}


.app__navbar-links li {
  margin: 0 10px;
  cursor: pointer;
  color: #727272;
  font-size: 22px;
  font-weight: 500;
  padding: 0px 5px;
  white-space: nowrap;
}

.app__navbar-links a {
  color: #727272;
}

.app__navbar-links li:hover {
  color: #A36D3B;
  ;
}

.app__navbar-links a:hover {
  color: #A36D3B;
}

.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app__navbar-login a {
  /* margin: 0 1rem; */
  text-decoration: none;
  transition: 0.5s ease;
}

.app__navbar-links li::after {
  content: '';
  display: block;
  height: 1.5px;
  background: #A36D3B;
  transform: scaleX(0);
  transition: transform .3s;
}

.app__navbar-links li:hover:after {
  transform: scaleX(1);
  transition: transform .3s;
}


.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 10000;
  transition: 0.5s;
  flex-direction: column;

}

.app__menu-hide {
  left: 0;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  cursor: pointer;
  top: 20px;
  right: 20px;
  position: absolute;
}

.app__navbar-smallscreen_links {
  list-style: none;
  margin-top: 65px;
  padding: 0px;

}

.app__navbar-smallscreen_links li {
  text-align: left;
  cursor: pointer;
  color: #727272;
  padding: 15px 20px;
  font-weight: 500;
  border-bottom: 1px solid #727272;

}

.app__navbar-smallscreen_links a {
  text-align: left;
  cursor: pointer;
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}

/* anurag css start */
.dropdown__menu-box {
  position: unset;
}

.dropdown__menu-box li a {
  padding: 10px;
}

.dropdown__menu-box li {
  padding: 0;
}

.p__opensans .dropdown__menu-box {
  position: unset !important;
  transform: unset !important;
  border: 0 !important;
  background: transparent !important;
  border-top: 1px solid #727272 !important;
  border-radius: 0 !important;
  margin-top: 15px !important;
}

.app__navbar-login {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;

  z-index: 1;
}

/* anurag css end */

.app__navbar-smallscreen_links li:hover:after {
  transform: scaleX(1);
  transition: transform .3s;
}

.head-live-timer {
  border: 1px solid #37621A;
  padding: 10px 12px;
  border-radius: 25px;
  color: #37621A;
  white-space: nowrap;
  background-color: #fff;
  font-weight: 600;
}

.head-live-timer a {
  color: #37621A;
}

.head-live-timer span {
  color: #000;
  padding-right: 2px;
}

.menu-item-header li {
  margin-right: 30px;
}

.custom-btn:hover {
  color: #37621A;
  background-color: #fff;
  border: 1px solid #37621A;
}

.head-live-timer:hover {
  background-color: #37621A;
  color: #fff;
}

.head-live-timer:hover span {
  color: #fff;
}

.login-sec {
  text-align: end;
}

.categoryDrop-btn{
  background-color: #fff !important;
  color: #727272 !important;
  border: 0px;
  border-radius: 0px;
  font-size: 26px;
  padding: 0px;
  font-weight: 600;
}
.categoryDrop-btn:hover{
  background-color: #f5f5f5 !important;
}
.live-sale{
  border: 1px solid #116A2C;
  border-radius: 300px;
  padding: 10px 5px;
  width: 150px;
  text-align: center;
  font-size: 16px;
  color: #000;
}
.live-sale:hover{
  background-color: #116A2C;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .app__navbar-logo img {
    width: 108px;
  }

  .app__navbar-links li {
    margin: 0 14px;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 5px;
  }

}

@media screen and (max-width: 991px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }

  .nav_topHeader {
    display: none;
  }

  .sale {
    margin-top: 30px;
  }

  .mb-90 {
    margin-bottom: 30px !important;
  }

  .dropdown-toggle::after {
    position: absolute;
    right: 18px;
    top: 22px;
  }

}

@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }

  .nav__login {
    display: none
  }

  .app__navbar-logo img {
    width: 60px;
  }

  .app__navbar-smallscreen svg {
    color: rgb(55 98 25) !important;
  }
}

.header-timer{
  border: 1px solid #37621A;
  border-radius: 300px;
  padding: 10px 20px;
  width: 180px;
}

.header-timer .sale{
  margin-right: 5px;
  color: #37621A;
}

@media(max-width: 1041px){
  .app__navbar-links li {
    font-size: 20px;
    margin: 0px 8px;
  }
  .app__navbar {
    padding: 1rem 1.5rem;
  }
}
.bottom-border-frame{
  bottom: -5px;
  position: absolute;
}
.header-frame{
  width: 100%
}
