
.header-logo{
  margin-left: 100px;
  width: 115px;

}
.nav_logo {
  width: 100%;

}



.head-link {
  color: #727272; 
  font-size: 18px;
}

.head-link:hover {
  color: #A36D3B; 
}

.head-live-timer {
  border: 1px solid #37621A;
  padding: 10px 12px;
  border-radius: 25px;
  color: #37621A;
  white-space: nowrap;
}

.head-live-timer a {
  color: #37621A;
}

.head-live-timer span {
  color: #000;
  padding-right: 2px;
}

/* Optional responsive adjustments if needed */
/* @media (max-width: 992px) {
  .nav_Header .custom-btn {
    margin-right: 10px;
  }
} */
