.nav_topHeader {
  background-color: #37621A;
  padding: 10px 0;
}

.topHeader-links .nav-link {

  margin-right: 48px;
  color: #fff;
  font-size: 15px;
  transition: all 0.5s;
}

.topHeader-links .nav-link:hover {
    transform: translateX(2px);
 
}

.headDrop-button,
.headDrop-button.show {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 4px 17px;
  color: #fff;
  font-size: 16px;
  background-color: #37621a;
  margin-right: 5px;
  min-width: 105px;
}

.headDrop-button:hover {
  color: #37621A !important;
  background-color: #fff;
}

.nav_icon_link {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  color: #37621A;
  margin: 0 10px;
  padding: 10px;
  display: flex;

}

.facebook:hover {
  color: #1877F2;
}

.facebook svg:hover {
  color: #1877F2;
}

.instagram:hover{
  color: #E4405F;
}

.instagram svg:hover{
  color: #E4405F;
}

.youtube:hover{
  color: #ff0000;;
}
.youtube svg:hover{
  color: #ff0000;;
}

.language-dropdown ul li a {
  cursor: pointer;
}


@media (min-width: 320px) and (max-width: 425px) {
  .topHeader-links .nav-link {
    margin-right: 48px;
    color: #fff;
    font-size: 13px;
    margin-bottom: 8px;
  }
/* 
  .bg_image {
    height: 150px;
  } */

  .nav_topHeader {
    display: none;
  }
}