.nav_topheader {
  background-color: #37621A;
  padding: 5px 0; /* Reduced height */
}

.header-links .nav-link {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: #fff;
}

.headDrop-button {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 5px 15px;
  color: #fff;
}

.headDrop-button a{
  color: #fff;
}

.nav_icon_link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  color: #37621A;
  margin: 0 5px;
  text-decoration: none;
  padding-left: 6px;
 
}

.nav_icon {
  font-size: 1.2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header-links .nav-link {
    margin-bottom: 5px; /* Add spacing for smaller screens */
  }

  .dropdown-toggle {
    padding: 3px 10px; /* Reduce padding for smaller screens */
  }
}
















/* .nav_topheader {
  background-color: #37621A;
  padding: 5px 0;
}

.header-links .nav-link {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: #fff;
}

.dropdown-toggle {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 5px 15px;
  color: #fff;
}

.nav_icon_link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  color: #37621A;
  text-decoration: none;
}

.nav_icon {
  font-size: 1.5rem;
 

  color: #37621A; 
}

.dropdown-menu {
  border: 1px solid #fff; 
}

.dropdown-item {
  padding: 10px 20px;
  border-bottom: 1px solid #fff; 
}

.dropdown-item:last-child {
  border-bottom: none; 
}

@media (max-width: 768px) {
  .header-links .nav-link {
    margin-bottom: 5px;
  }

  .dropdown-toggle {
    padding: 3px 10px;
  }
} */
