.signup-m .modal-dialog {
  max-width: 900px; 
}
.signup-m .modal-content{
  border-radius: 50px;
}

.login-modal {
  backdrop-filter: blur(9px); /* Adjust the blur intensity as needed */
}

/* .login-modal-body {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
} */

.m-head{
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-form{
  padding-right: 46px;
}

.m-title{
  font-family: Josefin Sans;
font-size: 35px;
font-weight: 700;
}

.m-close{
  width: 37px;
height: 37px;
border-radius: 50%;
border:none;
color: #37621A;
font-size: 23px;
}

.m-close:hover{
  background-color: #37621A;
  color: #fff;
}

.login-modal-body {
  display: flex;
  padding: 0;
  border-radius: 50px;
}

.image-section img{
  border-radius: 10px 0 0 10px;
  object-fit: cover;
  height: 100%;
  border-radius: 50px 0px 0px 50px;
}

.account-login{
  border: 1px solid #EDEDED;
  background: #F8F8F8;
  color: #141615;
  font-family: Josefin Sans;
font-size: 12px;
font-weight: 500;
line-height: 12px;
padding: 11px 20px;
border-radius: 12px;
}

.account-login:active{
  background-color: #fff !important;
  color: #141615 !important;
  border: 1px solid #141615 !important;
}

.account-login:hover{
  border: 1px solid #000;
  background-color: #EDEDED;
  color: #000;
}
.account-login img{
  margin-right: 8px;
}

.separator {
  display: flex;
  align-items: center;
  width: 80px;
  color: #B4B4B4;
  font-family: Josefin Sans;
font-size: 18px;
font-weight: 700;
}
.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 3px solid #B4B4B4;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}
.signup-f{
  padding-right: 10px;
}

.signup-detail{
  border: 1px solid #EDEDED;
  border-radius: 10px;
  font-family: Josefin Sans;
font-size: 12px;
font-weight: 500;
padding: 10px;

}

.signup-label{
  font-family: Josefin Sans;
font-size: 12px;
font-weight: 500;
}

.signup-btn{
  border-radius: 300px;
  background-color: #37621A;
  border: none;
  border: 1px solid #37621A;
}

.signup-btn:active{
  background-color: #37621A !important;
  border: 1px solid #37621A !important;
  color: #fff !important;
}

.signup-btn:hover{
  border: 1px solid #37621A;
  background-color: #fff;
  color: #37621A;
}

.login-btn{
  color: #141615;
  font-family: Josefin Sans;
font-size: 12px;
font-weight: 500;


}
.login-btn a{
  color: #37621A;
font-size: 12px;
font-weight: 700;

}

.forgot-password a{
  color: #37621A;
  font-size: 15px;
}

.forgot-password:hover{
  text-decoration: underline;
}

.login-btn a:hover{
  text-decoration: underline;
}


@media (min-width: 769px) and (max-width: 991px){
  .image-section img{
    display: none;
    
  }
  .signup-m .modal-dialog  {
    max-width: 460px; 
  }
  .m-form {
    padding: 10px 20px 10px 38px;
}
.modal-body {
  border-radius: 25px;
}

.modal-dialog .modal-content {
  border-radius: 25px;
}
}

@media (min-width: 320px) and (max-width: 768px){
  .image-section img{
    display: none;
    
  }
  .signup-m .modal-dialog {
    max-width: 450px; 
  }
   .m-form {
    padding: 10px 20px 10px 38px;
}
.modal-dialog .modal-content {
  border-radius: 25px;
}
}


/* Forgot Css */

.forgot-m {
  backdrop-filter: blur(9px); /* Adjust the blur intensity as needed */
}

.forgot-m .modal-content{
  border-radius: 50px;
}

.forgot-head{
  border: none;
}

.forgot-body{
  padding: 40px;
}
.head-t{
  font-family: Josefin Sans;
font-size: 28px;
font-weight: 700;
}

.close-forget{
  width: 30px;
height: 30px;
border-radius: 50%;
border:none;
background-color:#F8F8F8;
;
color: #37621A;
font-size: 20px;
margin-top: -20px;
}

.close-forget:hover{
  background-color: #37621A;
  color: #EDEDED;
}

.forgot-label{
  font-family: Josefin Sans;
font-size: 12px;
font-weight: 500;
color: #141615;
}

.forgot-input{
  font-family: Josefin Sans;
font-size: 12px;
font-weight: 500;

}

.forgot-sub{
  border: 1px solid #37621A;
  background-color: #37621A;
  color: #fff;
  border-radius: 300px;
  font-family: Josefin Sans;
}

.forgot-sub:hover{
  background-color: #fff;
  color: #37621A;
  border: 1px solid #37621A;
}

@media (min-width: 320px) and (max-width: 425px){
  .forgot-m .modal-content{
    border-radius: 20px;
  }

  .head-t{
  font-size: 20px;
  font-weight: 600;
  }
}
