#product-details {
    background-color: #f5f5f5;
    padding-top: 108px;
    padding-bottom: 108px;
}

.product-details-img-content {
    background-color: #fff;
    padding: 50px;
    border-radius: 50px;
    border: 1px solid #cccccc59;
}

.product-single-images {
    border-radius: 50px;
    overflow: hidden;
}

.product-multi-images {
    border-radius: 10px;
    overflow: hidden;
}

.product-slider .slick-slider{
    margin-left: -20px;
}