.about {
  padding: 100px 0;
  background: #e6ffd4;
}

.subscribe_banner {
  border-radius: 20px;
  background: #78bb4a;
  margin-top: -162px;
  margin-left: 65px;
  overflow: hidden;
  max-width: 90%;
  margin-bottom: 45px;
  z-index: 9;
}

.subscribe-section {
  color: #fff;
}

.subscribe-section h4 {
  line-height: 40px;
  font-size: 34px;
}

.subscribe-section span {
  color: #37621a;
}

.aboutSpice-img {
  width: 153px;
  top: -12px;
  left: 27%;
  transform: scaleX(-1) rotate(5deg);
}

.aboutFruitjuice-img {
  width: 100px;
  bottom: 0px;
  left: 48%;
}



.subscribe {
  /* display: flex; */
  border: none;
  padding: 5px 5px;
  outline: none;
  font-size: 1rem;
  border-radius: 30px;
  color: white;
  background-color: #37621a;
  width: 85%;
}

.subscribe input {
  border: none;
  padding: 10px 20px;
  outline: none;
  font-size: 1rem;
  border-radius: 30px;
  color: white;
  background-color: #37621a;
} 

.subscribe input::placeholder {
  color: #a2ce84;
}

.subscribe a {
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  color: #116a2c;
  background-color: white;
  border-radius: 30px;
  float: right;
}

.about-box{
  padding-right: 55px;
}

.box-image {
  position: relative;
  width: 75%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  z-index: 2;
}

.about_sp {
  width: 100%;
  border-radius: 300px 300px 20px 20px;
  display: block;
  margin: auto;
}

.about_stick {
  position: absolute;
  bottom: 45px;
  left: -86px;
  width: 50%;
  overflow: hidden;
  z-index: -1;
}

.about_wheat {
  position: absolute;
  bottom: -30px;
  right: -48px;
  width: 66%;
}

.about_mint {
  position: absolute;
  top: -3px;
  right: 8px;
  width: 30%;
}

.about_content h4 {
  font-family: "Pattaya", sans-serif;
  font-size: 30px;
  color: #78bb4a;
  text-align: left;
  margin-bottom: 17px;
}

.about_content h4 span {
  color: #37621a;
}

.about_content h3 {
  font-size: 38px;
  color: #3a3a3a;
  margin-bottom: 25px;
}

.about_content p {
  color: #6b6b6b;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-align: left;
  margin-bottom: 33px;
}

.about_content a {
  padding: 10px 35px;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: #37621a;
  border-radius: 30px;
}

/* Media Queries */
/* @media (max-width: 1200px) {
  .subscribe_banner {
    margin-left: 0;
    width: 100%;
  }
  .aboutSpice-img {
    margin-left: 50px;
  }
  .aboutFruitjuice-img {
    margin-left: -10px;
  }
} */

@media (min-width: 768px) and (max-width: 991px) {
  .subscribe_banner {
    margin-top: -186px;
    margin-left: 38px;
  }
  
  .box-image{
    width: 50%;
  }
  .aboutFruitjuice-img {
    right: 30px;
    bottom: 3px;
    width:12%
  }

}

@media (min-width: 320px) and (max-width: 767px){
  .subscribe_banner {
    margin-left: 15px;
  }

  .subscribe-section h4 {
    line-height: 40px;
    font-size: 24px;
  }

  .aboutSpice-img {
    display: none;
  }
  .aboutFruitjuice-img {
    display: none;
  }

  .subscribe{
    width: 100%;
  }
  /* .subscribe_banner {
    margin-top: -50px;
    padding: 2px 5px 0px;
  }

  .subscribe{
    padding: 6px 5px 9px;
  }
  .subscribe input {
    padding: 4px 10px;
  }
  .subscribe a {
    padding: 5px 10px;
    float: right;
  }
 
  .about_content h3 {
    font-size: 28px;
  }
  .about_content p {
    font-size: 16px;
  }
 */
}

