.feedback-container {
  text-align: center;
  padding: 50px 0;
  margin-bottom: 100px;
}

.feedback-container h2 {
  font-family: sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
}

.feedback-container h4 {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
}

.feedback-card {
  background-color: #E6FFD4 !important;
  border-radius: 10px;
  border: none !important;
  max-width: 80%;
  margin: auto;
  text-align: left;
}



.feedback-body {
  padding: 20px;
}

.feedback-content {
  font-size: 18px;
  font-family: Josefin Sans;
  line-height: 20px;
  color: #6B6B6B;
}

.feedback-name small {
  font-size: 18px;
  color: #37621A;
}

.feedback-name {
  font-size: 22px;
  color: #666;
}

.custom-carousel-indicators{
  bottom: -85px;
}


/* Custom indicator styles */
.custom-carousel-indicators button {
  background-color: #E6E6E6 !important;
  border: none;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

.custom-carousel-indicators .active {
  background-color: #37621A !important;
}

/* Custom control button styles */
.custom-carousel-control-prev, .custom-carousel-control-next {
  color: #37621A;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #37621A;
  font-size: 40px;
  top: 36px;
  z-index: 1000;
  opacity: 1;
}

.custom-carousel-control-prev{
  left: 40%;
}

.custom-carousel-control-next{
  right: 40%;
} 


.custom-carousel-control-prev-icon, .custom-carousel-control-next-icon {
  filter: invert(1);
}

.custom-carousel-control-prev:hover, .custom-carousel-control-next:hover {
  background-color: darkgreen;
}

 @media (min-width: 768px) and (max-width: 1199px) {
  .feedback-card{
    max-width: 100%;
  }

  .feedback-body {
    padding: 15px;
  }

  .feedback-content {
    font-size: 0.85rem;
  }

  .feedback-name small {
    font-size: 0.75rem;
  }

  .feedback-name {
    font-size: 12px;
  }
}

@media (min-width: 320px) and (max-width: 767px){
  .feedback-container h2 {
    font-size: 1.5rem;
  }

  .feedback-container h4 {
    font-size: 1rem;
  }

  .feedback-card {
    max-width: 80%;
    margin: auto;
  }

  .feedback-content{
    font-size: 15px;
  }
  .feedback-name {
    font-size: 18px;}
    .feedback-name small{
      font-size: 15px;
    }
    .custom-carousel-control-prev{
      left: 30%;
    }
    
    .custom-carousel-control-next{
      right: 30%;
    } 
} 
