

.foodProduct-item {
    border: 1px solid  #EDEDED;
    border-radius: 15px;
    background: #F8F8F8;
    width: 100% ;   

}

.foodProduct-item:hover{
  border: 1px solid #000;
}

.foodProduct-content h6{
color: #6B6B6B;
}

.foodProduct-item h6{
  color: black;
text-align: center;
text-decoration: none;

}

.foodProduct-view{
  color: #37621A;
  text-decoration: underline;
}

.foodProduct-view a{
  color: #37621A;

}

@media (min-width: 320px) and (max-width: 767px){
  .food-block{
    padding: 0px 25px;
  }
}




 
  


  