.product-image1 {
  width: 65%;
  margin-bottom: 10px;
  display: inline-grid;
}

.product-image1 img {
  width: 100%;
}

.about_content {
  padding-top: 35px;
}


/* Slider css */

.home_top_section {
  width: 100%;
  background-color: #78BB4A;
}

.organic-slide {
  padding: 58px 32px;
}

.pulses_image {
  position: absolute;
  right: 62px;
  top: -25px;
  width: 25%;
  z-index: 9;
}

.organic {
  width: 100%;
  z-index: 9;
}

.organic h5 {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 30px;
}

.organic h5 img {
  width: 23px;
  padding-right: 5px;
}

.organic h1 {
  font-family: Josefin Sans, sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  line-height: 85px;
  margin-bottom: 30px;
}

.blend {
  font-family: Josefin Sans;
  font-size: 80px;
  font-weight: 700;
  color: #37621A !important;
  text-align: left;
  color: #fff;
}

.quality {
  font-family: "Julius Sans One", sans-serif;
  font-size: 80px;
  font-weight: 400;
  text-align: left;
}

.contact-button {
  border: 0px solid;
  background: #fff;
  border-radius: 25px;
  padding: 8px 20px;
  color: #37621A;
  margin-top: 20px;
}

.mint_image {
  position: absolute;
  right: 88px;
  bottom: -15px;
  width: 20%;
  z-index: 9;
}

.bg_image {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  height: 365px;
  overflow: hidden;
  border-radius: 5px;
}

.people_image {
  width: 100%;

}

.spice_image {
  position: absolute;
  right: -40px;
  top: -36px;
  width: 15%;
  z-index: 2;
}

.stick_image {
  position: absolute;
  left: -120px;
  width: 30%;
  z-index: 1;
  bottom: 88px;
}

.slider-images {
  position: relative;
}

.rice_image {
  position: absolute;
  right: -78px;
  bottom: -44px;
  width: 20%;
  z-index: 9;
}

.homepage-hero .carousel-item {
  position: relative;
}

.homepage-hero .left-vector-img,
.homepage-hero .right-vector-img {
  position: absolute;
  width: 50%;
  height: -webkit-fill-available;
}

.left-vector-img {
  left: -80px;
  top: 0;
  z-index: 1;
}

.contact-button:hover {
  background: #37621A;
  color: #fff;
}

.right-vector-img {
  right: 0px;
  top: 0;
  z-index: 1;
}

.border-fram-group {
  position: absolute;
  left: 0;
  width: 100%;
}

.border-fram-group-top {
  top: -10px;
}

.border-fram-group-bottom {
  bottom: -10px;
}

.border-fram-group .frame {
  width: 16.6%;
}

@media (min-width: 992px) and (max-width: 1197px) {
  .stick_image {
    left: -84px;
    bottom: 23px;

  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .organic h1 {
    font-size: 45px;
    line-height: 53px;
  }

  .quality,
  .blend {
    font-size: 45px;
  }

  .stick_image {
    left: -60px;
    bottom: 23px;

  }

}

@media (min-width: 320px) and (max-width: 767px) {
  .organic h1 {
    font-size: 20px;
    line-height: 10px;
  }

  .quality,
  .blend {
    font-size: 20px;
  }

  .pulses_image {
    top: -42px;
    right: 33px
  }

  .mint_image {

    top: 78px;
    right: 8px;
  }

  .stick_image {
    display: none;

  }

  .bg_image {
    margin-top: 15px;
  }

  /* .organic h5 img {
     width: 8%;
     
 } */

}

/* sale css */

.sale {
  margin-top: 80px;

}

.sale_banner {
  max-width: 90%;
  background: linear-gradient(104deg, #37621A 75%, #78BB4A 72%);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  margin: auto;
}

.sale h3 {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.sale h6 {
  color: #fff;
  font-weight: 700;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  text-align: justify;
}

.gift1_image {
  position: absolute;
  width: 35px;
  right: 50%;
  bottom: 4px;
}

.gift2_image {
  position: absolute;
  width: 65px;
  left: 40%;
  top: 4px;
}

.view_button {
  background-color: #fff;
  color: #37621A;
  display: inline-block;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
}

.view_button:hover {
  background-color: #37621A;
  color: #fff;
}

@media (min-width: 992px) and (max-width: 1087px) {
  .sale_banner {
    background: #37621A;
  }

  .view_button {
    padding: 8px 9px;
  }
}



@media (min-width: 768px) and (max-width: 991px) {
  .gift1_image {
    top: 20px;
    right: 99px
  }

  .gift2_image {
    top: -27px;
    right: 249px;
    width: 10%;
  }

  .sale_banner {
    background: #37621A;
    padding: 10px 5px;
    cursor: pointer;
    position: relative;
    margin: auto;
  }

  .sale-content {
    padding-left: 22px;
  }

}

/* trade css */


.we-trade {
  margin-bottom: 140px;
}

.owl-carousel .weTrade-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background: #fff;
  border: 1px solid #EDEDED;
  margin: 10px;
  border-radius: 10px;
  padding: 10px 41px;
}

.owl-carousel .weTrade-carousel-item img {
  max-width: 100%;
  height: auto;
}

/* Navigation button styles */
.custom-nav .prev-slide,
.next-slide {
  position: absolute;
  top: 0px;
  border: 1px solid #37621A;
  color: #37621A;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.prev-slide {
  right: 60px;
}

.next-slide {
  right: 20px;
}

.custom-nav .prev-slide,
.next-slide:hover {
  background-color: #37621A;
  color: #fff;
}

/* timer css */


.timer {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;

}

.timer-box {
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  margin: 0 5px;
  position: relative;
}

.timer-box span {
  display: block;
  font-size: 15pxpx;
  /* font-weight: bold; */
}

.timer-label {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  top: 45px;
  left: -5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .timer {
    padding-top: 0px;
    justify-content: space-evenly;
  }

}


/* popularproducr css */



.popularProduct_List1 {
  background-color: #E6FFD4;
  padding: 50px 0;
  overflow-x: clip;
  background-image:
    url('./../../assets/background/vector5.png'),
    url('./../../assets/background/vector6.png');
  /* Second image */
  background-position:
    left top,
    /* Position for the first image */
    right bottom;
  /* Position for the second image */

  background-repeat:
    no-repeat,
    /* Repeat settings for the first image */
    no-repeat;
  /* Repeat settings for the second image */

  background-size: 33%;

}

.dalImage {
  width: 10%;
  left: 0;
  bottom: 51px;
}

.spices1 {
  width: 18%;
  right: -60px;
  top: 134px;
}

.discount-block {
  margin-top: -148px;
}

.discount-product {
  background: #78BB4A;
  border-radius: 15px;
  padding: 20px 10px 20px 20px;
  min-height: 221px;
}

.discount_content {
  font-family: 'Josefin Sans', sans-serif;
}

.break-line {
  display: block;
}

.discount-product p {
  background: #37621A;
  color: #fff;
  border-radius: 34px;
  padding: 9px 23px;
  margin-bottom: 10px;
  width: fit-content;
}

.discount_content h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
}

.f-image {
  width: 43%;
}

.f-image img {
  width: 100%;
}

.spice-img {
  width: 94% !important;
}

.d-image {
  width: 50%;
}

.discount_link {
  background: #fff;
  border-radius: 25px;
  padding: 11px 20px;
  color: #37621A;
  display: inline-block;
}


.m-image {
  width: 45%;
}

.product-item {
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #ffffff;
}

.product-item:hover {
  border: 1px solid #A36D3B;
}

.product-image {
  max-width: 60%;
  margin-top: -57px;
}

.product-item h5 {
  margin-top: 20px;
  color: #000;
  font-size: 15px;
}

.popularProduct-viewMore {
  background-color: #fff;
  border: 1px solid #37621A;
  border-radius: 20px;
  cursor: pointer;
  width: max-content;
  margin: auto;
  padding: 10px 35px 8px 35px;
  transition: background-color 0.2s ease;
}

.popularProduct-viewMore a {
  color: #37621A;
  transition: color 0.1s ease 0.1s;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .f-image {
    width: 31%;
    height: 146px;
  }

  .d-image {
    margin-top: 29px;
    width: 43%;
    height: 107px;
  }

  .spices1 {
    top: 117px;

  }
}


@media (min-width: 768px) and (max-width: 991px) {

  .product-item {
    margin-top: 44px;
  }

  .spices1 {
    top: 600px;

  }

  .dalImage {
    width: 14%;
  }

}

@media (min-width: 320px) and (max-width: 767px) {

  .product-item {
    margin-top: 40px;
    padding: 0px 0px !important;
  }

  .d-image {
    width: 48%;
  }

  .spices1 {
    display: none;
  }

  .dalImage {
    width: 20%;
  }


  .product-item h5 {
    margin-top: 10px;
  }

  .product-image {
    margin-top: -45px;

  }
}

/* foodprdouct css */




.foodProduct-item {
  border: 1px solid #EDEDED;
  border-radius: 15px;
  background: #F8F8F8;
  width: 100%;

}

.foodProduct-item:hover {
  border: 1px solid #000;
}

.foodProduct-content h6 {
  color: #6B6B6B;
}

.foodProduct-item h6 {
  color: black;
  text-align: center;
  text-decoration: none;

}

.foodProduct-view {
  color: #37621A;
  text-decoration: underline;
}

.foodProduct-view a {
  color: #37621A;

}

@media (min-width: 320px) and (max-width: 767px) {
  .food-block {
    padding: 0px 25px;
  }
}

/* nonFoodProduct css */

.nonFoodHeading h6 {
  color: #6B6B6B;
}


.nonFoodProduct-item2 {
  border: 1px solid #EDEDED;
  border-radius: 15px;
  background: #F8F8F8;
  width: 100%;
}

.nonFoodProduct-item2:hover {
  border: 1px solid #000;
}


.nonFoodProduct-item2 h6 {
  color: #000;
}

.nonFoodProduct-view {
  color: #37621A;
  text-decoration: underline;
}

.nonFoodProduct-view a {
  color: #37621A;

}

@media (min-width: 320px) and (max-width: 767px) {
  .non-food-block {
    padding: 0px 25px;
  }
}


/* aboutus css */


.about {
  padding: 100px 0;
  background: #e6ffd4;
}

.subscribe_banner {
  border-radius: 20px;
  background: #78bb4a;
  margin-top: -175px;
  margin-left: 65px;
  overflow: hidden;
  width: 90%;
  margin-bottom: 45px;
  z-index: 1000;
  position: relative;
}

.subscribe-section {
  color: #fff;
}

.subscribe-section h4 {
  line-height: 40px;
  font-size: 32px;
}

.subscribe-section span {
  color: #37621a;
}

.aboutSpice-img {
  width: 153px;
  top: -12px;
  left: 27%;
  transform: scaleX(-1) rotate(5deg);
}

.aboutFruitjuice-img {
  width: 100px;
  bottom: 0px;
  left: 48%;
}



.subscribe {

  border: none;
  padding: 5px 5px;
  outline: none;
  font-size: 1rem;
  border-radius: 30px;
  color: white;
  background-color: #37621a;
  width: 85%;
}

.subscribe input {
  border: none;
  padding: 10px 20px;
  outline: none;
  font-size: 1rem;
  border-radius: 30px;
  color: white;
  background-color: #37621a;
}

.subscribe input::placeholder {
  color: #a2ce84;
}

.subscribe a {
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  color: #116a2c;
  background-color: white;
  border-radius: 30px;
  float: right;
}

.subscribe a:hover {
  background-color: #78bb4a;
  color: #fff;
}

.about-box {
  padding-right: 55px;
}

.box-image {
  position: relative;
  width: 75%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  z-index: 2;
}

.about_sp {
  width: 100%;
  border-radius: 300px 300px 20px 20px;
  display: block;
  margin: auto;
}

.about_stick {
  position: absolute;
  bottom: 45px;
  left: -86px;
  width: 50%;
  overflow: hidden;
  z-index: -1;
}

.about_wheat {
  position: absolute;
  bottom: -30px;
  right: -48px;
  width: 66%;
}

.about_mint {
  position: absolute;
  top: -3px;
  right: 8px;
  width: 30%;
}

.about_content h4 {
  font-family: "Pattaya", sans-serif;
  font-size: 30px;
  color: #78bb4a;
  text-align: left;
  margin-bottom: 17px;
}

.about_content h4 span {
  color: #37621a;
}

.about_content h3 {
  font-size: 38px;
  color: #3a3a3a;
  margin-bottom: 25px;
}

.about_content p {
  color: #6b6b6b;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-align: left;
  margin-bottom: 33px;

}

.about_content a {
  padding: 10px 35px;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: #37621a;
  border-radius: 30px;
}

.about-border-frame {
  position: absolute;
  width: 100%;
  left: 0;
  top: -15px;
}

.about-border-frame .frame-img {
  width: 100%;
}

.about-border-frame-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10px;
}

.about-border-frame-bottom .frame-img {
  width: 100%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .subscribe-section h4 {
    line-height: 38px;
    font-size: 28px;
  }

  .aboutFruitjuice-img {
    left: 391px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .subscribe_banner {
    margin-top: -186px;
    margin-left: 78px;
    max-width: 80%;
  }

  .box-image {
    width: 50%;
  }

  .aboutSpice-img {

    top: 0px;
    left: 289px;
    width: 21%;
  }

  .aboutFruitjuice-img {
    left: 74%;
    bottom: 13px;
    width: 19%
  }

  .about-box {
    padding: 0px 55px;
  }

  .subscribe {
    width: 70%;
  }

}

@media (min-width: 426px) and (max-width: 767px) {
  .subscribe_banner {
    margin-left: 15px;
  }

  .subscribe-section h4 {
    line-height: 40px;
    font-size: 24px;
  }

  .aboutSpice-img {

    top: 0px;
    left: 235px;
    width: 25%;
  }

  .aboutFruitjuice-img {
    display: none;
  }

  .subscribe {
    width: 100%;
  }

  .about-box {
    padding: 0px 55px;
  }

  .subscribe input {
    padding: 10px 12px;
  }

}

@media (min-width: 320px) and (max-width: 425px) {


  .subscribe_banner {
    margin-left: 0px;
    width: 100%;
  }

  .subscribe {
    width: 103%;
    margin-left: -2px;
  }

  .subscribe-section h4 {
    line-height: 33px;
    font-size: 20px;
  }

  .aboutSpice-img {
    top: 0px;
    left: 198px;
    width: 27%;
  }

  .aboutFruitjuice-img {
    display: none;
  }

  .about-box {
    padding: 0px 55px;
  }

  .subscribe input {
    padding: 9px 2px;
  }

  .subscribe a {
    padding: 9px 5px;
  }

  .about_content h4 {
    font-size: 21px;
  }

  .about_content h3 {
    font-size: 21px;
  }

  .about-box {
    padding: 0px 30px;
  }

  .about_content p {
    font-size: 15px;
    line-height: 18px;

  }

  .about_stick {
    bottom: 38px;
    left: -33px;
  }

  .about_mint {
    position: absolute;
    top: 12px;
    right: 10px;
  }

  .about_wheat {
    bottom: -3px;
    right: -30px;
  }
}


/* feedback css */

.feedback-container {
  text-align: center;
  padding: 50px 0;
  margin-bottom: 100px;
}

.feedback-container h2 {
  font-family: sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.feedback-container h4 {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
}

.feedback-card {
  background-color: #E6FFD4 !important;
  border-radius: 10px;
  border: none !important;
  max-width: 80%;
  margin: auto;
  text-align: left;
}



.feedback-body {
  padding: 20px;
}

.feedback-content {
  font-size: 18px;
  font-family: Josefin Sans;
  line-height: 20px;
  color: #6B6B6B;
}

.feedback-name small {
  font-size: 18px;
  color: #37621A;
}

.feedback-name {
  font-size: 22px;
  color: #666;
}

.custom-carousel-indicators {
  bottom: -85px;
}


/* Custom indicator styles */
.custom-carousel-indicators button {
  background-color: #E6E6E6 !important;
  border: none;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

.custom-carousel-indicators .active {
  background-color: #37621A !important;
}

/* Custom control button styles */
.custom-carousel-control-prev,
.custom-carousel-control-next {
  color: #37621A;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #37621A;
  font-size: 40px;
  top: 36px;
  z-index: 1000;
  opacity: 1;
}

.carousel-control-next,
.carousel-control-prev {

  z-index: 9;
}

.carousel-control-prev {
  left: 40%;
}

.custom-carousel-control-next {
  right: 40%;
}


.custom-carousel-control-prev-icon,
.custom-carousel-control-next-icon {
  filter: invert(1);
}

.custom-carousel-control-prev:hover,
.custom-carousel-control-next:hover {
  background-color: darkgreen;
}


/* question css */



.img_box {
  background: #E6FFD4;
  margin-bottom: 100px !important;
  margin-bottom: 50px;
}

.question-head {
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: 700;
}

.question_box {
  width: 100%;
  padding-bottom: 51px;
}

.accordion-button {
  background-color: #E6FFD4 !important;
  color: #37621A;
  border: 1px solid #37621A;
  border-radius: 10px;
}

.accordion-button:not(.collapsed) {
  background-color: #FFFFFF !important;
  border: none;
  box-shadow: none;
  color: #37621A;


}

.accordion-item:first-of-type>.accordion-header .accordion-button,
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
  border-radius: 10px !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-item {
  border: none;
  border-radius: 10px;
}

.accordion-body {
  font-size: 18px;
  color: #6A6A6A;
  line-height: 20px;

}

.img_leaf2 {
  width: 36%;
  left: 0;
  top: 95px;
}

.img_leaf1 {
  width: 24%;
  right: 0;
  top: 0;
}

.img_oil {
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 0;
}

#carouselExampleCaptions .carousel-control-prev {
  left: 0px;
}

/* ipad media responsive */
.offer-btn {
  margin: auto;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .feedback-card {
    max-width: 100%;
  }

  .feedback-body {
    padding: 15px;
  }

  .feedback-content {
    font-size: 0.85rem;
  }

  .feedback-name small {
    font-size: 0.75rem;
  }

  .feedback-name {
    font-size: 12px;
  }

  .blend {
    font-size: 55px;
  }

  .quality {
    font-size: 55px;
  }

  .discount-product div h3 {
    font-size: 15px;
  }
  
  .discount_link{
    font-size: 12px;
    padding: 11px 11px;
  }

  .discount-product p {
    padding: 9px 18px;
  }

  .discount-product {
    min-height: 205px;
  }

}


@media (min-width: 425px) and (max-width: 767px) {
  .feedback-container h2 {
    font-size: 1.5rem;
  }

  .feedback-container h4 {
    font-size: 1rem;
  }

  .feedback-card {
    max-width: 80%;
    margin: auto;
  }

  .feedback-content {
    font-size: 15px;
  }

  .feedback-name {
    font-size: 18px;
  }

  .feedback-name small {
    font-size: 15px;
  }

  .custom-carousel-control-prev {
    left: 30%;
  }

  .custom-carousel-control-next {
    right: 30%;
  }

  .discount-product h3 {
    font-size: 17px;
  }

  .subscribe-section h4 {
    font-size: 24px;
  }

  .sale {
    margin-top: 68px;
  }

  .organic h1 {
    font-size: 52px;
    line-height: 78px;
  }

  .quality {
    font-size: 65px;
  }

  .view_button {
    padding: 8px 8px;
    font-size: 15px;
    margin-left: 20px;
  }

  .sale h3 {
    font-size: 25px;
  }

  .sale_banner {
    width: 80%;
    padding: 10px 0px;
  }

  .discount_link {
    padding: 10px 14px;
  }

  .popularProduct-viewMore {
    padding: 10px 25px 8px 25px;
  }

  .about {
    padding-bottom: 50px;
  }

  .feedback-container h2,
  .question-head {
    font-size: 1.5rem;
  }

  .whatsapp_Banner {
    bottom: 10%;
  }

  .discount-product div h3 {
    font-size: 16px;
  }

  .sale h3 {
    font-size: 24px;
  }

  .sale h6 {
    font-size: 14px;
  }

  .gift1_image {
    top: 20px;
    right: 10px
  }

  .gift2_image {
    top: -27px;
    right: 86px;
  }

  .sale_banner {
    background: #37621A;
    padding: 10px 5px;
    cursor: pointer;
    position: relative;
    margin: auto;
  }

  .view_button {
    margin-top: 12px;
  }

}


@media (min-width: 320px) and (max-width: 425px) {
  .accordion-button {
    font-size: 14px !important;
  }

  .accordion-body {
    font-size: 14px;
  }
  .topHeader-links .nav-link {
    margin-right: 48px;
    color: #fff;
    font-size: 13px;
    margin-bottom: 8px;
  }
  .rice_image {
    position: absolute;
    right: -49px;
    bottom: -31px;
    width: 20%;
    z-index: 9;
  }
  .sale h6{
    text-align: inherit;
  }
  .sale h3{
    font-size: 27px;
  }
  .gift2_image{
    display: none;
  }
  .view_button {
    margin-top: 32px;
    margin-left: 15px;
   }
  #customCarousel .carousel-indicators {
    display: none;
  } 
}