.nonFoodHeading h6{
    color: #6B6B6B;
}


.nonFoodProduct-item2{
    border: 1px solid  #EDEDED;
    border-radius: 15px;
    background: #F8F8F8;
    width: 100%;
}

.nonFoodProduct-item2:hover{
    border: 1px solid #000;
}


.nonFoodProduct-item2 h6{
color: #000;
}

.nonFoodProduct-view{
    color: #37621A;
    text-decoration: underline;
  }
  
  .nonFoodProduct-view a{
    color: #37621A;
  
  }

  @media (min-width: 320px) and (max-width: 767px){
    .non-food-block{
        padding: 0px 25px;
    }
  }