
.popularProduct_List1 {
    background-color: #E6FFD4;
    padding: 50px 0;
    overflow-x: clip;
    background-image: 
    url('./../../assets/background/vector5.png'),
    url('./../../assets/background/vector6.png'); /* Second image */
  background-position: 
    left top, /* Position for the first image */
    right bottom; /* Position for the second image */

    background-repeat: 
    no-repeat, /* Repeat settings for the first image */
    no-repeat; /* Repeat settings for the second image */
    
    background-size: 33%; 
    
  }
  
  .dalImage {
    width: 10%;
    left: 0;
    bottom: 51px;
  }
  
  .spices1 {
    width: 18%;
    right: -60px;
    top: 134px;
  }

  .discount-block{
    margin-top: -148px;
  }
  
  .discount-product {
    background: #78BB4A;
    border-radius: 15px;
    padding: 20px 10px 20px 20px;
    min-height: 221px;
  }
  
  .discount_content {
    font-family: 'Josefin Sans', sans-serif;
  }

  .break-line {
    display: block;
}
  
  .discount-product p {
    background: #37621A;
    color: #fff;
    border-radius: 34px;
    padding: 9px 23px;
    margin-bottom: 10px;
    width: fit-content;
  }
  
  .discount_content h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .f-image{
    width: 43%;
  }
  .f-image img{
    width: 100%;
  }
  .spice-img{
    width:  94% !important;
  }

  .d-image{
    width: 50%;
  }
  
  .discount_link {
    background: #fff;
    border-radius: 25px;
    padding: 11px 20px;
    color: #37621A;
    display: inline-block;
  }


  .m-image{
    width: 45%;
  }
  
  .product-item {
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #ffffff;
  }
  
  .product-item:hover {
    border: 1px solid #A36D3B;
  }
  
  .product-image {
    max-width: 60%;
    margin-top: -57px;
  }
  
  .product-item h5 {
    margin-top: 20px;
    color: #000;
    font-size: 15px;
  }
  
  .popularProduct-viewMore {
    background-color: #fff;
    border: 1px solid #37621A;
    border-radius: 20px;
    cursor: pointer;
    width: max-content;
    margin: auto;
    padding: 10px 35px 8px 35px;
    transition: background-color 0.2s ease; 
  }
  
  .popularProduct-viewMore a {
    color: #37621A;
    transition: color 0.1s ease 0.1s;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .f-image {
      width: 31%;
      height: 146px;
  }
  .d-image {
    margin-top: 29px;
    width: 43%;
    height: 107px;
}
.spices1 {
  top: 117px;

  }
}

  
  @media (min-width: 768px) and (max-width: 991px) {

    .product-item{
      margin-top: 44px;
    }

    .spices1 {
      top: 600px;
    
      }
      .dalImage {
        width: 14%;}
    
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
   
   .product-item{
    margin-top: 40px;
      padding: 0px 0px !important;
   }

   .d-image{
    width:48%;
   }
   .spices1{
    display: none;
   }
   
   .dalImage {
    width: 20%;}

  
  .product-item h5 {
      margin-top: 10px;}

      .product-image {
        margin-top: -45px;

      }
  }

