.home_top_section {
 width: 100%;
  background-color: #78BB4A;
}

.organic-slide{
  padding: 58px 32px;
}

.pulses_image{
  position: absolute;
  right: 62px;
  top: -25px;
  width: 25%;
  z-index: 9;
}

.organic{
width:100%; 
z-index: 9;
}

.organic h5{
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 30px;
}

.organic h1{
font-family: Josefin Sans, sans-serif;
font-size: 80px;
font-weight: 700;
color: #fff;
text-align: left;
line-height: 85px;
margin-bottom: 30px;
}

.blend{
font-family: Josefin Sans;
font-size: 80px;
font-weight: 700;
color: #37621A !important;
text-align: left;
color: #fff;
}

.quality{
font-family: "Julius Sans One", sans-serif;
font-size: 80px;
font-weight: 400;
text-align: left;
}

.contact-button {
  border: 0px solid;
    background: #fff;
    border-radius: 25px;
    padding: 8px 20px;
    color: #37621A;
  margin-top: 20px;
}

.mint_image{
  position: absolute;
  right: 88px;
  bottom: -15px;
  width: 20%;
  z-index: 9;
}
.bg_image{
  position: relative;
  width: 65%;
  background-color: #fff;
  border-radius: 300px 300px 60px 60px;
  z-index: 9;
}

.people_image{
  padding: 10px;
  width: 100%;
border-radius: 300px 300px 60px 60px;

}
.spice_image{
  position: absolute;
  right: 7px;
  top: 0px;
  width: 34%; 
}

.stick_image{
  position: absolute;
  right: 280px;
  bottom: 36px;
  width: 51%;
  z-index: -1;
}

.rice_image{
  position: absolute;
  right: 19px;
  bottom: 35px;
  width: 12%;
  z-index: 9;
}

.homepage-hero .carousel-item{
  position: relative;
}

.homepage-hero .left-vector-img, .homepage-hero .right-vector-img{
  position: absolute;
  width: 50%;
}
.left-vector-img{
  left: -80px;
  top: 0;
  z-index: 1;
}
.contact-button:hover{
    background: #37621A;
    color: #fff;
}

.right-vector-img{
  right: 0px;
  top: 0;
  z-index: 9;
}
.border-fram-group{
  position: absolute;
  left: 0;
  width: 100%;
}
.border-fram-group-top{
  top: -10px;
}

.border-fram-group-bottom{
  bottom: -10px;
}

.border-fram-group .frame{
  width: 16.6%;
}

@media (min-width: 992px) and (max-width: 1197px){
  .stick_image{
    left: -84px;
    bottom: 23px;

  }
}

@media (min-width: 768px) and (max-width: 991px)
 {
  .organic h1 {
    font-size: 45px;
    line-height: 53px;
  }

  .quality, .blend{
    font-size: 45px;
  }

  .stick_image{
    left: -60px;
    bottom: 23px;

  }

} 

@media (min-width: 320px) and (max-width: 767px) {
  .organic h1 {
    font-size: 20px;
    line-height: 10px;
  }

  .quality, .blend {
    font-size: 20px;
  }
  
  .pulses_image{
   top: -42px;
   right: 33px
  }
  .mint_image{

   top: 78px;
   right: 8px;
  }
  
  .stick_image{
    display: none;

  }

  .bg_image{
    margin-top: 15px;
  }

}










/* 
@media (max-width: 992px) {
  .home_top_section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .organic {
    margin: 0 auto;
    text-align: center;
  }

  .organic h1 {
    font-size: 50px;
    line-height: 55px;
  }

  .blend, .quality {
    font-size: 50px;
  }

  .pulses_image {
    margin: 0 auto;
    text-align: center;
  }

  .pulses_image img {
    width: 50%;
  }

  .mint_image {
    margin: 0 auto;
    text-align: center;
  }

  .mint_image img {
    width: 25%;
  }

  .bg_image {
    margin: 0 auto;
    width: 80%;
    border-radius: 300px 300px 60px 60px;
  }

  .people_image, .spice_image, .stick_image, .rice_image {
    margin: 0 auto;
    text-align: center;
  }

  .spice_image {
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
  }

  .stick_image {
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
  }

  .rice_image img {
    width: 50%;
  }
} */




/* @media (min-width: 320px) and (max-width: 767px)
@media (min-width: 768px) and (max-width: 991px) */
