
.home_top_section {
 width: 100%;
  background-color: #78BB4A;
  /* position: relative;
  overflow: hidden;
  display: flex; */


}

.pulses_image{
  position: absolute;
  margin-left: 400px;
  margin-top: 24px;
}
.pulses_image img{
  width: 35%;
}

.organic{
  position:relative;
  margin-left: 49px;
  margin-top: 121px; 
width:100%;
 
  
}

.organic h5{
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 30px;
}

.organic h1{
font-family: Josefin Sans, sans-serif;
font-size: 80px;
font-weight: 700;
color: #fff;
text-align: left;
line-height: 85px;
margin-bottom: 40px;

}

.blend{
font-family: Josefin Sans;
font-size: 80px;
font-weight: 700;
color: #37621A !important;
text-align: left;
color: #fff;
}

.quality{
  font-family: Julius Sans One;
font-size: 80px;
font-weight: 400;
text-align: left;

}

.contact-button {
  border: 0px solid;
    background: #fff;
    border-radius: 25px;
    padding: 8px 20px;
    color: #37621A;
  margin-top: 20px;
  /* text-align: left; */
}



.mint_image{
  position: absolute;
  margin-left: 400px;
  margin-top: -24px;
}

.mint_image img{
  width:18%;
}


.bg_image{
  position: relative;
width: 65%;
  background-color: #fff;
  border-radius: 300px 300px 60px 60px;
  margin-right: 55px;
  margin-top: 53px;
  margin-bottom: 53px;
  z-index: 2;

}

.people_image{
  padding: 10px;
  width: 100%;
border-radius: 300px 300px 60px 60px;

}
.spice_image{
  position: absolute;
  margin-left: 262px;
  margin-top: 22px;
  width: 34%;
  
}

.stick_image{
  position: absolute;
  margin-left: -467px;
  margin-top: 339px;
  width: 51%;
  z-index: -1;
}

/* .stick_image img{
  width: 100%;

  top: 120px;
  left: 850px;
} */
.rice_image{
  position: absolute;
  margin-right: -392px;
  margin-top: 336px;
}

.rice_image img{
width: 30%;

}


@media (max-width: 768px) {
  .organic h1 {
    font-size: 30px;
  }

  .quality, .bend {
    font-size: 30px;
  }

  .buttons {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .organic h1 {
    font-size: 20px;
  }

  .quality, .bend {
    font-size: 20px;
  }

  .buttons {
    width: 120px;
  }
}

