.sale {
  margin-top: 80px;
  width: 100%;
}

.sale_banner {
 width: 75% !important;
  background: #37621A;
}

.sale h3 {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
 font-family: Josefin Sans;

}

.sale h6{
  color: #fff;

  font-weight: 400;
  text-align: left;
 font-family: Josefin Sans;
}

.gift1_image{
  position:absolute;
  width: 9%;
  margin-left: 361px;
  margin-top: -19px;

}

.gift2_image{
  position: absolute;
  width: 18%;
  margin-left: 245px;
  margin-top: -99px;
}

.view_button {
  background-color: #fff;
  color: #37621A;
  border: 1px solid ;
display: inline-block;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
}

.view_button a{
  color: #37621A;
}

@media (max-width: 768px) {
  .sale_container {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .spices_image, .fruitjuice {
    width: 90px;
    height: 80px;
    margin: 10px 5px;
  }
}
