.sale {
  margin-top: 80px;
 
}

.sale_banner {
  max-width: 75%;
  background: linear-gradient(104deg, #37621A 75%, #78BB4A 72%);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  margin: auto;
}

.sale h3 {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.sale h6 {
  color: #fff;
  font-weight: 700;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  text-align: justify;
}

.gift1_image {
  position: absolute;
  width: 9%;
  right: -14px;
  bottom: -35px;
}

.gift2_image {
  position: absolute;
  width: 14%;
  right: 47px;
  top: -18px;
}

.view_button {
  background-color: #fff;
  color: #37621A;
  display: inline-block;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1087px){
  .sale_banner{
    background: #37621A;
  }

  .view_button{
    padding: 8px 9px;
  }
}



@media (min-width: 768px) and (max-width: 991px){
  .gift1_image {
    top: 20px;
    right:99px
    
  }

  .gift2_image {
    top: -27px;
    right: 249px;
    width: 10%;
  }

  .sale_banner {
    background:  #37621A;
    padding: 10px 5px;
    cursor: pointer;
    position: relative;
    margin: auto;
  }

  .sale-content{
    padding-left: 22px;
  }

 
}

@media (min-width: 320px) and (max-width: 767px){
  .sale h3 {
    font-size: 24px;
  }

  .sale h6 {
    font-size: 14px;
  }

  .gift1_image {
    top: 20px;
    right:10px
    
  }

  .gift2_image {
    top: -27px;
    right: 86px;
  }
  .sale_banner {
    background:  #37621A;
    padding: 10px 5px;
    cursor: pointer;
    position: relative;
    margin: auto;
  }

  .view_button {
    margin-top: 12px;
  }
}

