.sale {
  margin-top: 80px;
  /* width: 100%; */
}

.sale_banner {
 /* width: 75% ;
  background: #37621A; */


  width: 75%;

  background: linear-gradient(104deg, #37621A 75%, #78BB4A 72%);
  border: none;
  /* color: white; */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  position: relative;

}

.sale h3 {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;

}

.sale h6{
  color: #fff;
  font-weight: 700;
  text-align: left;
 font-family: Josefin Sans;
 text-align: justify;
}

.gift1_image{
  position:absolute;
  width: 9%;
  size: 18px;
  margin-left: 415px;
  margin-top: -21px;

}

.gift2_image{
  position: absolute;
  width: 14%;
  margin-left: 324px;
  margin-top: -95px;
}

.view_button {
  background-color: #fff;
  color: #37621A;
  /* border: 1px solid ; */
display: inline-block;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
   margin-left: 38px;
}

.view_button a{
  color: #37621A;
}

@media (max-width: 768px) {
  .sale_container {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .spices_image, .fruitjuice {
    width: 90px;
    height: 80px;
    margin: 10px 5px;
  }
}
