/* 
.trade_brand {
  margin-left: auto;
  margin-right: auto;
  height: 200px; 
  padding: 10px; 
} */

.we-trade {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 116px;
}

.we-trade h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

.we-trade img {
  width: 100%;
  /* height: auto; */
  margin: 0 auto;
  border: 1px solid #EDEDED;

}








/* .trade_brand {
   
  margin-left: 200px;
  height: 200px;
}

.carousel-container {
  text-align: center;
  margin-top: 50px;
}

.carousel-container h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

.carousel-container img {
  width: 150px;
  height: auto;
  margin: 0 auto;
  border: 1px solid #EDEDED;
} */
