.we-trade{
  margin-bottom: 140px;
}

.owl-carousel .weTrade-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background: #fff;
  border: 1px solid #EDEDED;
  margin: 10px;
  border-radius: 10px;
  padding: 10px 41px;
}

.owl-carousel .weTrade-carousel-item img {
  max-width: 100%;
  height: auto;
}

/* Navigation button styles */
.custom-nav .prev-slide, .next-slide {
 position: absolute;
 top: 0px;
  border: 1px solid #37621A;
  color: #37621A;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.prev-slide {
  right: 60px;
}

.next-slide {
  right: 20px;
}

.custom-nav .prev-slide, .next-slide:hover{
  background-color: #37621A;
  color: #fff;
}
