*, html, body{
  padding: 0px;
  margin: 0px;
}
.main-body{
  background-color: white;
  min-height: 1000px;
  width: 100%;
}
.foote-section{
  background-color: gray;
  width: 100%;
}
.mb-50{
  margin-bottom: 50px !important;
}
.mb-40{
  margin-bottom: 40px !important;
}

.mb-90{
  margin-bottom: 90px !important;
}

Link, a{
  text-decoration: none !important;
}


.custom-btn {
  margin-left: 280px;
  background-color: #116A2C;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  white-space: nowrap;
}

.custom-btn:hover {
  background-color: #37621A;
}